@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  color: hsl(0deg, 0%, 41%);
  background-color: hsl(0deg, 0%, 98%);
}

h1, h2 {
  color: hsl(0deg, 0%, 8%);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

p {
  font-size: 18px;
}

input {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
  border-width: 1px;
  padding: 12px;
  font-family: inherit;
  outline: none;
  display: inline-block;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

button {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: 1px solid transparent;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
}

.main_header {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .main_header {
    padding: 20px 0;
  }
}
.main_header_content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
.main_header_content_logo {
  flex-basis: 80px;
  margin-right: 60px;
}
.main_header_content_logo_title {
  display: none;
}
.main_header_content_logo_img {
  width: 100%;
  display: block;
  margin-top: 10px;
}
.main_header_content .menu_hamb_icon {
  position: absolute;
  top: 50%;
  left: unset;
  z-index: 11;
  right: 20px;
  transform: translateY(-50%);
  width: 30px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 900px) {
  .main_header_content .menu_hamb_icon {
    display: block;
  }
}
.main_header_content .menu_hamb_icon span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 2px;
  background-color: hsl(0deg, 0%, 8%);
  transition: all 0.3s ease 0s;
}
.main_header_content .menu_hamb_icon span::before {
  content: "";
  position: absolute;
  top: unset;
  left: 0;
  bottom: 400%;
  display: block;
  width: 30px;
  height: 2px;
  background-color: hsl(0deg, 0%, 8%);
  transition: all 0.3s ease 0s;
}
.main_header_content .menu_hamb_icon span::after {
  content: "";
  position: absolute;
  top: 400%;
  left: 0;
  display: block;
  width: 30px;
  height: 2px;
  background-color: hsl(0deg, 0%, 8%);
  transition: all 0.3s ease 0s;
}
.main_header_content .menu_hamb_icon.active span {
  background-color: transparent;
}
.main_header_content .menu_hamb_icon.active span::before {
  transform: translateY(400%) rotate(45deg);
}
.main_header_content .menu_hamb_icon.active span::after {
  transform: translateY(-400%) rotate(-45deg);
}
.main_header_content .menu_hamb_icon.active ~ .main_header_content_menu {
  visibility: visible;
  opacity: 1;
}
.main_header_content .menu_hamb_icon.active ~ .main_header_content_menu .main_header_content_menu_primary, .main_header_content .menu_hamb_icon.active ~ .main_header_content_menu .main_header_content_menu_login {
  transform: translateX(0);
  transition-delay: 0.3s;
  visibility: visible;
  opacity: 1;
}
.main_header_content_menu {
  flex-basis: calc(100% - 80px - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.5s ease 0s;
}
@media screen and (max-width: 900px) {
  .main_header_content_menu {
    position: fixed;
    top: 0;
    left: unset;
    z-index: 10;
    right: 0;
    background: hsla(0deg, 0%, 0%, 0.4);
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
  }
}
.main_header_content_menu li {
  list-style: none;
}
.main_header_content_menu_primary {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  column-gap: 40px;
  transition: all 0.5s ease 0s;
}
@media screen and (max-width: 900px) {
  .main_header_content_menu_primary {
    flex-direction: column;
    align-items: flex-start;
    background: hsl(0deg, 0%, 98%);
    width: 75%;
    padding: 80px 30px 30px 15%;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 500px) {
  .main_header_content_menu_primary {
    padding-left: 30px;
  }
}
.main_header_content_menu_primary_item {
  color: hsl(0deg, 0%, 41%);
  cursor: pointer;
  padding: 30px 0;
  display: inline-block;
  transition: all 0.3s ease 0s;
  position: relative;
}
@media screen and (max-width: 900px) {
  .main_header_content_menu_primary_item {
    padding: 15px 0;
  }
}
.main_header_content_menu_primary_item:hover {
  color: hsl(0deg, 0%, 8%);
}
.main_header_content_menu_primary_item.dropdown.active > i {
  transform: rotateX(180deg);
}
.main_header_content_menu_primary_item.dropdown.active .main_header_content_menu_submenu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 900px) {
  .main_header_content_menu_primary_item.dropdown.active .main_header_content_menu_submenu {
    max-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.main_header_content_menu_primary_item i {
  transition: all 0.3s ease 0s;
}
.main_header_content_menu_submenu {
  opacity: 0;
  visibility: hidden;
  background-color: #FFF;
  padding: 20px;
  z-index: 2;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 18px 0 hsla(0deg, 0%, 0%, 0.1);
  transition: all 0.3s linear 0s;
}
@media screen and (max-width: 900px) {
  .main_header_content_menu_submenu {
    opacity: 1;
    visibility: visible;
    position: static;
    box-shadow: none;
    background: none;
    width: auto;
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.main_header_content_menu_submenu:first-child {
  background: red;
}
.main_header_content_menu_submenu li {
  width: auto;
}
.main_header_content_menu_submenu li a {
  display: block;
  color: hsl(0deg, 0%, 41%);
  padding: 10px 0;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.main_header_content_menu_submenu li a:hover {
  color: hsl(0deg, 0%, 8%);
}
.main_header_content_menu_submenu li a i {
  margin-right: 10px;
}
.main_header_content_menu_login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  transition: all 0.5s ease 0s;
}
@media screen and (max-width: 1024px) {
  .main_header_content_menu_login {
    column-gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .main_header_content_menu_login {
    background-color: hsl(0deg, 0%, 98%);
    padding: 30px;
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 0;
    row-gap: 40px;
    width: 75%;
    height: 100%;
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }
}
.main_header_content_menu_login_btn_login {
  display: inline-block;
  color: hsl(0deg, 0%, 41%);
  transition: all 0.3s ease 0s;
}
.main_header_content_menu_login_btn_login:hover {
  color: hsl(0deg, 0%, 8%);
}
.main_header_content_menu_login_btn_register {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: 1px solid transparent;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  transition: all 0.3s ease 0s;
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 41%);
  border-color: hsl(0deg, 0%, 41%);
  font-weight: 400;
}
.main_header_content_menu_login_btn_register:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
}
.main_header_content_menu_login_btn_register:hover {
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: 1px solid transparent;
}
@media screen and (max-width: 900px) {
  .main_header_content_menu_login_btn_register {
    width: 60%;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .main_header_content_menu_login_btn_register {
    width: 100%;
  }
}
.main_header_content_menu_login_btn_register:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
}

.main_presentation {
  width: 100%;
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .main_presentation {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
.main_presentation_content {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 160px;
}
.main_presentation_content.move_image {
  flex-direction: row-reverse;
}
@media screen and (max-width: 1200px) {
  .main_presentation_content {
    column-gap: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .main_presentation_content {
    column-gap: 40px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .main_presentation_content {
    column-gap: 0;
    row-gap: 60px;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    padding: 0;
  }
}
.main_presentation_content_info, .main_presentation_content_about, .main_presentation_content_carrers, .main_presentation_content_login, .main_presentation_content_register {
  flex-basis: calc(50% - 160px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: all 0.6s ease 0s;
}
@media screen and (max-width: 1200px) {
  .main_presentation_content_info, .main_presentation_content_about, .main_presentation_content_carrers, .main_presentation_content_login, .main_presentation_content_register {
    flex-basis: calc(50% - 80px);
  }
}
@media screen and (max-width: 1024px) {
  .main_presentation_content_info, .main_presentation_content_about, .main_presentation_content_carrers, .main_presentation_content_login, .main_presentation_content_register {
    flex-basis: calc(50% - 40px);
  }
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info, .main_presentation_content_about, .main_presentation_content_carrers, .main_presentation_content_login, .main_presentation_content_register {
    text-align: center;
    padding: 0 20px;
  }
}
.main_presentation_content_info.out_left, .main_presentation_content_about.out_left, .main_presentation_content_carrers.out_left, .main_presentation_content_login.out_left, .main_presentation_content_register.out_left {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info.out_left, .main_presentation_content_about.out_left, .main_presentation_content_carrers.out_left, .main_presentation_content_login.out_left, .main_presentation_content_register.out_left {
    transform: translate(0, 30%);
  }
}
.main_presentation_content_info.out_right, .main_presentation_content_about.out_right, .main_presentation_content_carrers.out_right, .main_presentation_content_login.out_right, .main_presentation_content_register.out_right {
  transform: translateX(200%) !important;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info.out_right, .main_presentation_content_about.out_right, .main_presentation_content_carrers.out_right, .main_presentation_content_login.out_right, .main_presentation_content_register.out_right {
    transform: translate(0, 30%) !important;
  }
}
.main_presentation_content_info.img_moved, .main_presentation_content_about.img_moved, .main_presentation_content_carrers.img_moved, .main_presentation_content_login.img_moved, .main_presentation_content_register.img_moved {
  transform: translateX(calc(100% + 160px));
}
@media screen and (max-width: 1200px) {
  .main_presentation_content_info.img_moved, .main_presentation_content_about.img_moved, .main_presentation_content_carrers.img_moved, .main_presentation_content_login.img_moved, .main_presentation_content_register.img_moved {
    transform: translateX(calc(100% + 80px));
  }
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info.img_moved, .main_presentation_content_about.img_moved, .main_presentation_content_carrers.img_moved, .main_presentation_content_login.img_moved, .main_presentation_content_register.img_moved {
    transform: translateX(0);
  }
}
.main_presentation_content_info.no_display, .main_presentation_content_about.no_display, .main_presentation_content_carrers.no_display, .main_presentation_content_login.no_display, .main_presentation_content_register.no_display {
  display: none !important;
}
.main_presentation_content_info form, .main_presentation_content_about form, .main_presentation_content_carrers form, .main_presentation_content_login form, .main_presentation_content_register form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
}
.main_presentation_content_info form *, .main_presentation_content_about form *, .main_presentation_content_carrers form *, .main_presentation_content_login form *, .main_presentation_content_register form * {
  flex-basis: 100%;
}
.main_presentation_content_info form input:not([type=checkbox]), .main_presentation_content_info form button, .main_presentation_content_info form label, .main_presentation_content_about form input:not([type=checkbox]), .main_presentation_content_about form button, .main_presentation_content_about form label, .main_presentation_content_carrers form input:not([type=checkbox]), .main_presentation_content_carrers form button, .main_presentation_content_carrers form label, .main_presentation_content_login form input:not([type=checkbox]), .main_presentation_content_login form button, .main_presentation_content_login form label, .main_presentation_content_register form input:not([type=checkbox]), .main_presentation_content_register form button, .main_presentation_content_register form label {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info form label, .main_presentation_content_about form label, .main_presentation_content_carrers form label, .main_presentation_content_login form label, .main_presentation_content_register form label {
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info_title, .main_presentation_content_about_title, .main_presentation_content_carrers_title, .main_presentation_content_login_title, .main_presentation_content_register_title {
    align-self: center;
  }
}
.main_presentation_content_info_title h2, .main_presentation_content_about_title h2, .main_presentation_content_carrers_title h2, .main_presentation_content_login_title h2, .main_presentation_content_register_title h2 {
  font-size: 4.2em;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info_title h2, .main_presentation_content_about_title h2, .main_presentation_content_carrers_title h2, .main_presentation_content_login_title h2, .main_presentation_content_register_title h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 480px) {
  .main_presentation_content_info_title h2, .main_presentation_content_about_title h2, .main_presentation_content_carrers_title h2, .main_presentation_content_login_title h2, .main_presentation_content_register_title h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
}
.main_presentation_content_info_title h2.title_small, .main_presentation_content_about_title h2.title_small, .main_presentation_content_carrers_title h2.title_small, .main_presentation_content_login_title h2.title_small, .main_presentation_content_register_title h2.title_small {
  font-size: 3em;
}
.main_presentation_content_info_text, .main_presentation_content_about_text, .main_presentation_content_carrers_text, .main_presentation_content_login_text, .main_presentation_content_register_text {
  line-height: 1.4;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info_text, .main_presentation_content_about_text, .main_presentation_content_carrers_text, .main_presentation_content_login_text, .main_presentation_content_register_text {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .main_presentation_content_info_text, .main_presentation_content_about_text, .main_presentation_content_carrers_text, .main_presentation_content_login_text, .main_presentation_content_register_text {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
.main_presentation_content_info_text.forgot, .main_presentation_content_about_text.forgot, .main_presentation_content_carrers_text.forgot, .main_presentation_content_login_text.forgot, .main_presentation_content_register_text.forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.main_presentation_content_info_text.forgot a, .main_presentation_content_about_text.forgot a, .main_presentation_content_carrers_text.forgot a, .main_presentation_content_login_text.forgot a, .main_presentation_content_register_text.forgot a {
  display: block;
  flex-basis: 100%;
  text-align: center;
  font-size: 0.8em;
  color: hsl(0deg, 0%, 41%);
  transition: all 0.3s ease 0s;
}
.main_presentation_content_info_text.forgot a:hover, .main_presentation_content_about_text.forgot a:hover, .main_presentation_content_carrers_text.forgot a:hover, .main_presentation_content_login_text.forgot a:hover, .main_presentation_content_register_text.forgot a:hover {
  color: hsl(0deg, 0%, 8%);
}
.main_presentation_content_info_text li, .main_presentation_content_about_text li, .main_presentation_content_carrers_text li, .main_presentation_content_login_text li, .main_presentation_content_register_text li {
  margin-bottom: 40px;
  margin-left: 2em;
  font-size: 1.2em;
  line-height: 0;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info ul, .main_presentation_content_info ol, .main_presentation_content_about ul, .main_presentation_content_about ol, .main_presentation_content_carrers ul, .main_presentation_content_carrers ol, .main_presentation_content_login ul, .main_presentation_content_login ol, .main_presentation_content_register ul, .main_presentation_content_register ol {
    text-align: left;
  }
}
.main_presentation_content_info_cta, .main_presentation_content_about_cta, .main_presentation_content_carrers_cta, .main_presentation_content_login_cta, .main_presentation_content_register_cta {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 700;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border: 1px solid transparent;
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  transition: all 0.3s ease 0s;
  font-size: 1.4em;
  position: relative;
}
.main_presentation_content_info_cta:hover, .main_presentation_content_about_cta:hover, .main_presentation_content_carrers_cta:hover, .main_presentation_content_login_cta:hover, .main_presentation_content_register_cta:hover {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info_cta, .main_presentation_content_about_cta, .main_presentation_content_carrers_cta, .main_presentation_content_login_cta, .main_presentation_content_register_cta {
    align-self: center;
  }
}
.main_presentation_content_info_clients, .main_presentation_content_about_clients, .main_presentation_content_carrers_clients, .main_presentation_content_login_clients, .main_presentation_content_register_clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 40px;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .main_presentation_content_info_clients, .main_presentation_content_about_clients, .main_presentation_content_carrers_clients, .main_presentation_content_login_clients, .main_presentation_content_register_clients {
    margin: 0;
  }
}
.main_presentation_content_info_clients a, .main_presentation_content_about_clients a, .main_presentation_content_carrers_clients a, .main_presentation_content_login_clients a, .main_presentation_content_register_clients a {
  transition: all 0.3s ease 0s;
}
.main_presentation_content_info_clients a:hover, .main_presentation_content_about_clients a:hover, .main_presentation_content_carrers_clients a:hover, .main_presentation_content_login_clients a:hover, .main_presentation_content_register_clients a:hover {
  transform: translateY(-10px) scale(1.1);
}
.main_presentation_content_info {
  align-self: stretch;
}
.main_presentation_content_info .main_presentation_content_info_cta {
  margin-bottom: 40px;
}
.main_presentation_content_image {
  flex-basis: calc(50% - 160px);
}
.main_presentation_content_image img {
  transition: all 0.6s ease 0s;
}
.main_presentation_content_image img.move {
  transform: translateX(calc(-100% - 160px));
}
@media screen and (max-width: 1200px) {
  .main_presentation_content_image img.move {
    transform: translateX(calc(-100% - 80px));
  }
}
@media screen and (max-width: 768px) {
  .main_presentation_content_image img.move {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1200px) {
  .main_presentation_content_image {
    flex-basis: calc(50% - 80px);
  }
}
@media screen and (max-width: 1024px) {
  .main_presentation_content_image {
    flex-basis: calc(50% - 40px);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px 0;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}