*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-size: 1em;

    @include setBrowsers(box-sizing, border-box);
}

body {    
    font-family: $font-epilogue;
    color: $color-medium-gray;
    background-color: $color-almost-white;
}

h1, h2 {
    color: $color-almost-black;
}

a {
    text-decoration: none;
}

img {
    @include containerFull;
    max-width: 100%;
}

p {
    font-size: $font-size-paragraph;
}

input {
    @include outline;
    border-width: 1px;
    padding: 12px;
    font-family: inherit;
    outline: none;
    display: inline-block;

    @include borderRadius($radius-big);
}

button {
    @include btn;
}