.main_presentation {
    @include containerFull;
    padding: 120px 0;

    @include setResponsiveDesign(768px) {
        padding: {
            top: 0;
            bottom: 40px;
        };
    }

    &_content {
        @include container(1260px);
        @include flex(center, center, nowrap);
        column-gap: 160px;

        &.move_image {
            flex-direction: row-reverse;
        }

        @include setResponsiveDesign(1200px) {
            column-gap: 80px;
        }

        @include setResponsiveDesign(1024px) {
            column-gap: 40px;
            justify-content: space-between;
        }

        @include setResponsiveDesign(768px) {
            column-gap: 0;
            row-gap: 60px;
            justify-content: center;
            flex-direction: column-reverse;
            @include container(500px);
            padding: 0;
        }

        &_info,
        &_history,
        &_team,
        &_about,
        &_carrers,
        &_login,
        &_register {
            @include flexBasis(50%, 160px);
            @include flex(flex-end, flex-start, nowrap);
            flex-direction: column;
            @include transition(all, 0.6s);

            @include setResponsiveDesign(1200px) {
                @include flexBasis(50%, 80px);
            }

            @include setResponsiveDesign(1024px) {
                @include flexBasis(50%, 40px);
            }

            @include setResponsiveDesign(768px) {
                text-align: center;
                padding: 0 20px;
            }

            &.out_left {
                transform: translateX(-100%);
                opacity: 0;
                visibility: hidden;

                @include setResponsiveDesign(768px) {
                    transform: translate(0, 30%);
                }
            }

            &.out_right {
                transform: translateX(200%) !important;
                opacity: 0;
                visibility: hidden;

                @include setResponsiveDesign(768px) {
                    transform: translate(0, 30%) !important;
                }
            }

            &.img_moved {
                transform: translateX(calc(100% + 160px));

                @include setResponsiveDesign(1200px) {
                    transform: translateX(calc(100% + 80px));
                }

                @include setResponsiveDesign(768px) {
                    transform: translateX(0);
                }
            }

            &.no_display {
                display: none !important;
            }

            form {
                @include containerFull;
                @include flex(center, flex-start, nowrap);
                flex-direction: column;
                gap: 20px;

                * {
                    @include flexBasis(100%);
                }

                input:not([type="checkbox"]), button, label {
                    @include containerFull;
                }

                label {
                    @include setResponsiveDesign(768px) {
                        text-align: left;
                    }
                }
            }

            &_title {
                @include setResponsiveDesign(768px) {
                    align-self: center;
                }

                h2 {
                    font-size: 4.2em;
                    margin-bottom: 40px;

                    @include setResponsiveDesign(768px) {
                        font-size: 3em;
                    }

                    @include setResponsiveDesign(480px) {
                        font-size: 2.4em;
                        margin-bottom: 20px;
                    }

                    &.title_small {
                        font-size: 3em;
                    }
                }
            }

            &_text {
                line-height: 1.4;
                margin-bottom: 40px;

                &.team_list {
                    @include flex(flex-start, flex-start, nowrap);
                    column-gap: 40px;
                    padding-bottom: 20px;
                    cursor: pointer;
                    @include transition;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        color: $color-almost-black;
                        border-color: $color-medium-gray;

                        .img img {
                            transform: scale(1.2);
                        }
                    }

                    .img {
                        @include flexBasis(140px, 40px);
                        width: calc(140px - 40px);
                        height: calc(140px - 40px);

                        @include borderRadius(50%);
                        border: 3px solid $color-almost-black;
                        overflow: hidden;

                        img {
                            @include transition;
                        }
                    }

                    header {
                        @include flexBasis(calc(100% - 140px), 40px);

                        @include setResponsiveDesign(768px) {
                            text-align: left;
                        }

                        h3 {
                            font-size: 1.6em;
                            margin-bottom: 3px;
                        }

                        p {
                            font-size: 0.9em;
                        }
                    }
                }

                @include setResponsiveDesign(768px) {
                    font-size: 16px;
                }

                @include setResponsiveDesign(480px) {
                    font-size: 14px;
                    margin-bottom: 20px;
                }

                &.forgot {
                    @include flex;
                    @include containerFull;
                    gap: 10px;
                    
                    a {
                        display: block;
                        @include flexBasis(100%);
                        text-align: center;
                        font-size: 0.8em;
                        color: $color-medium-gray;
                        @include transition;

                        &:hover {
                            color:$color-almost-black;
                        }
                    }
                }

                li {
                    margin: {
                        bottom: 40px;
                        left: 2em;
                    }
                    font-size: 1.2em;
                    line-height: 0;
                }
            }

            ul, ol {
                @include setResponsiveDesign(768px) {
                    text-align: left;
                }
            }

            &_cta {
                @include btn;
                font-size: 1.4em;

                @include relative;

                @include setResponsiveDesign(768px) {
                    align-self: center;                }
            }

            &_clients {
                @include flex(space-between, center, nowrap);
                column-gap: 40px;
                margin-top: 60px;

                @include setResponsiveDesign(768px) {
                    margin: 0;
                }

                a {
                    @include transition;

                    &:hover {
                        transform: translateY(-10px) scale(1.1);
                    }
                }
            }
        }

        &_info {
            align-self: stretch;
            
            .main_presentation_content_info_cta {
                margin-bottom: 40px;
            }
        }

        &_image {
            @include flexBasis(50%, 160px);

            img {
                @include transition(all, 0.6s);

                &.move {
                    transform: translateX(calc(-100% - 160px));

                    @include setResponsiveDesign(1200px) {
                        transform: translateX(calc(-100% - 80px));
                    }

                    @include setResponsiveDesign(768px) {
                        transform: translateX(0);
                    }
                }
            }

            @include setResponsiveDesign(1200px) {
                @include flexBasis(50%, 80px);
            }

            @include setResponsiveDesign(1024px) {
                @include flexBasis(50%, 40px);
            }
        }
    }
}